<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'likelion/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        
        <ul class="right-nav">
            <li>HOME</li>
            <li>History</li>
            <li>Portfolio</li>
        </ul>
        <ol>
            <li>ㅇㅇ</li>
            <li>ㅇㅇ</li>
            <li>ㅇㅇ</li>
            <li>ㅇㅇ</li>
            <li>ㅇㅇ</li>

        </ol>
    </div>
    {% block contents %}

    {% endblock %}
</body>
</html>
